##############################
# npm
##############################
node_modules
npm-debug.log

##############################
# tmp, editor & OS files
##############################
.tmp
*.swp
.DS_STORE
